<div
    style="background-color: #FAFAFA; width: 600px; font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif; box-sizing: border-box; padding-bottom: 25px; margin: 0 auto;">
    <div
        style="background: transparent; padding-top: 30px; padding-bottom: 20px; text-align: center; display: flex; justify-content: space-between;">
        <img style="height: 50px; width: 180px;" alt="left logo" src="@leftheader@" />
        <!-- <img style="height: 50px; width: 220px; margin-left: auto;" alt="right logo" src="@rightheader@" /> -->
    </div>
    <div
        style="background-color: #fff; color: #000; font-size: 1em; border-top: 2px solid #00ACC4; border-bottom: 1px solid #E6E6E6; box-sizing: border-box; padding: 25px; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">

        @body@

    </div>
    <p
        style="color: #777777; padding: 0 25px; max-width: 400px; box-sizing: border-box; margin-left: auto; margin-right: auto; font-size: 10px; text-align: center;">
        For enquiries about this email please contact us via <a style="color: #00ACC4;" href="mailto:dealers@cars45.com"
            target="_top">dealers@cars45.com</a> or call our contact centre on <em style="color: #00ACC4;">+234 818 984
            0160</em> or <em style="color: #00ACC4;">+234 813 984 0160</em>
    </p>
</div>